.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;

}
.modal-content {
  width: max-content;
  /*height: 600px;*/
  padding: 30px;
  border-radius: 30px;
  border: 1px solid #242424;
  background-color: #111111;
  transform: scale(0.5);
  transition: 0.4s all;
  z-index: 10000;
  position: relative;
}
.modal-content.active {
  transform: scale(1);
}
.list_modal__info {
  background-color: #111111;
  color: #fff;
}



.search-list__modal {
  display: flex;
  flex-direction: column;
}
.content_modal__info {
  padding-top: 40px;
  display: flex;
}